*.icloud
*.log
target/
*.orig
build/
!/gama.ui/gama.ui.shared/icons/build/
dist/
private/
release/
*.iml
*.ipr
*.iws
*.iml
.idea/
*~
*.bak
.directory
.DS_Store
*.history
*.class
.metadata/
/*/gaml/
/*/bin/
.__*
/*/.tycho-consumer-pom.xml
**/models/*/.project
