<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         id="application"
         name="Headless Gama"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         id="gama.headless.product"
         point="org.eclipse.core.runtime.products">
   </extension>
   <extension
         id="product"
         name="Base product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gama.headless.application"
            name="Headless">
      </product>
   </extension>

</plugin>
